$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$effect-duration: 0.3s;
$main-text-color: #1b2129;
$light-text-color: #fff;
$secondary-text-color: #191919;
$additional-text-color: #7e7e83;
$light-color: #f9f9f9;
$accented-light-color: #dbdbdb;
$accented-color: #f98921;
$additional-color: #fcfaef;
$main-font: Manrope, serif;
$secondary-font: Inter, serif;
$main-font-weight: 400;
$highlighted-weight: 700;
$main-text-size: 16px;
$highlighted-text-size: 48px;
